$ls-box-size: 2em;
$ls-translate-z-value: 1em;

%dimensions {
  width: $ls-box-size;
  height: $ls-box-size;
}

.language-wrapper {
  .cube {
    @extend %dimensions;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
  }

  .cube.show-front {
    transform: translateZ(-$ls-translate-z-value) rotateY(0deg);
  }
  .cube.show-right {
    transform: translateZ(-$ls-translate-z-value) rotateY(-90deg);
  }
  .cube.show-back {
    transform: translateZ(-$ls-translate-z-value) rotateY(-180deg);
  }

  .cube-face {
    position: absolute;
    @extend %dimensions;
    border: 2px solid var(--secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--light-blue);
    border-radius: 15%;
    background: var(--page-background);
    scale: 0.9;
    transition: scale 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      scale: 1;
    }
  }

  .cube-face--front {
    transform: rotateY(0deg) translateZ($ls-translate-z-value);
  }
  .cube-face--right {
    transform: rotateY(90deg) translateZ($ls-translate-z-value);
  }
  .cube-face--back {
    transform: rotateY(180deg) translateZ($ls-translate-z-value);
  }
  .cube-face--left {
    transform: rotateY(-90deg) translateZ($ls-translate-z-value);
  }
  .cube-face--top {
    transform: rotateX(90deg) translateZ($ls-translate-z-value);
  }
  .cube-face--bottom {
    transform: rotateX(-90deg) translateZ($ls-translate-z-value);
  }
}
