.text-wrapper {
  font-size: var(--fs-600);
  letter-spacing: 0.1em;
  font-weight: 600;
  overflow: hidden;
  display: inline-block;
  padding-right: 2px;
  color: var(--secondary);
  margin: 1em 0;
  width: 100%;

  .typing-text {
    color: var(--primary);
  }
}
