.general-link {
  font-family: 'Courgette', cursive;
  color: var(--secondary);
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  outline: 0;

  cursor: pointer;

  &:hover {
    color: var(--link-hover);
  }

  &.invalid {
    pointer-events: none;
  }
}
