.general-link {
  cursor: pointer;
  font-size: clamp(0.9rem, 0.5rem + 1.25vw, 1.5rem);
  font-family: 'Courgette', cursive;
  color: var(--secondary);
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  outline: 0;

  &:hover {
    color: var(--nav-link-hover);
  }
}
