.portfolio-page {
  height: 75vh;
  font-size: 1rem;

  .wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-items: center;

    .project-list {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 30em;
      gap: 0;

      .side-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        div {
          border: 1px solid #f06d06;
          min-width: 12em;
          height: 5em;
          padding: 2em 0;
          border-radius: 2em;
          text-align: center;
        }
      }

      .deck {
        min-height: 15em;
        min-width: 15em;
        background-color: var(--main-color);
        animation: deck-effect 1s ease-in;
        border-radius: 100%;
        border: solid 10px #f06d06;
        border-top-color: var(--page-background);
        border-bottom-color: var(--page-background);

        padding: 1em;
        background-clip: content-box;
      }

      .svg-paths {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;

        .curve-path {
          width: 5em;
          height: 12em;
          position: relative;

          path {
            fill: none;
            stroke: #f06d06;
          }
        }

        .line-path {
          width: 5em;
          height: 0.2em;
          background-color: #f06d06;
        }
      }
    }
  }
}

@keyframes deck-effect {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
