.close-button {
  background-color: transparent;
  padding: 1px;
  color: var(--main-color);
  font-size: 1.3em;
  position: absolute;
  top: -35px;
  scale: 1;
  cursor: pointer;

  &:hover {
    scale: 1.1;
  }
}

@media screen and (min-width: 850px) {
  .close-button {
    display: var(--display-type);
  }
}
