.close-button {
  position: absolute;
  top: -1.5rem;
  scale: 1;
  cursor: pointer;

  &:hover {
    scale: 1.1;
  }
}

@media screen and (min-width: 850px) {
  .close-button {
    display: none;
  }
}
