.contact-wrapper {
  .gmap-area {
    background-image: url(../images/map.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em 0;
    margin-top: 6vh;
    display: flex;
    justify-content: space-around;

    .gmap {
      border: 10px solid #f6f5f0;
      border-radius: 50%;
      height: 40vh;
      width: 40vh;
      box-shadow: 0 0 3px 3px #e7e4dc;
      overflow: hidden;
    }

    .contact-container {
      width: 50%;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 10%;
      color: $font-color-fallback;

      .address-wrap {
        display: flex;
        justify-content: space-around;
        padding: 4vh;

        address {
          h3 {
            font-size: $fs-20;
            font-weight: 700;
            margin-bottom: 2vh;
          }

          p {
            padding: 0.3vh;
          }
        }
      }

      .phone-number {
        margin-top: 2vh;
        text-align: center;
        font-size: $fs-18;
      }

      .social-links {
        margin-top: 8vh;
        text-align: center;
      }
    }
  }
}

@media screen and(max-width: 900px) {
  .contact-wrapper {
    .gmap-area {
      flex-direction: column;
      padding: 1vh;
      margin-top: 0;
      align-items: center;

      .gmap {
        width: 40vh;
      }

      .contact-container {
        width: 100%;
        margin-top: 1vh;
      }
    }
  }
}

@media screen and(max-width: 650px) {
  .contact-wrapper {
    .gmap-area {
      .gmap {
        width: 30vh;
        height: 30vh;
        iframe {
          width: 30vh;
          height: 30vh;
        }
      }

      .contact-container {
        width: 100%;
        font-size: $fs-14;

        .social-links {
          .link--social {
            width: 3.5rem;
            height: 3.5rem;
            > svg {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}
