.skill-container {
  display: flex;
  justify-content: space-around;

  .skill-description {
    width: 35%;
  }

  .skill-option {
    width: 55%;
  }

  .skill-tabs {
    @extend %tabs-layout-extension;

    .content {
      .tabcontent {
        padding: 30px;
        @extend %tab-content-extension;

        .description-tab-content {
          p {
            font-size: $fs-24;
            border-bottom: 1px solid $light-border-color-alpha-1;
            margin: 6px 0;
          }

          ul {
            margin-bottom: 2vh;
            li {
              padding: 0.6vh;
              cursor: pointer;

              &:hover {
                @extend %link-status;
              }

              &.active {
                @extend %link-status;
              }
            }
          }
        }

        .options-tab-content {
          .close-icon {
            display: none;
          }

          .skill-option-description {
            .header {
              display: flex;
              padding: 0 4vh;
              justify-content: space-between;
              font-size: $fs-28;

              svg {
                font-size: 3em;
              }
            }

            .description {
              text-align: justify;
              line-height: 30px;
              height: 42vh;
              font-size: $fs-18;
              padding: 2vh;
              padding-top: 4vh;
            }

            .link-skill-desc {
              padding: 4vh;
              line-height: 30px;
              text-align: center;
              border-top: 1px solid $light-border-color-alpha-9;

              a {
                margin-top: 4vh;
                font-size: 2em;
                line-height: 8vh;
                @extend %all-links-extension;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .skill-container {
    .skill-description {
      width: 40%;
    }

    .skill-option {
      width: 50%;
    }

    .skill-tabs {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 950px) {
  .skill-container {
    flex-direction: column;

    .skill-description {
      width: 94%;

      .skill-tabs {
        font-size: $fs-14;
      }
    }

    .skill-option {
      .skill-tabs {
        font-size: $fs-14;
      }

      width: 94%;
      background-color: #2a2b30;
      position: absolute;
      transition: left 2s ease;
      left: 110vh;

      &.transform-active {
        left: 2.5vh;
      }

      .content {
        .tabcontent {
          padding: 0;
          .skill-chart {
            width: 80%;
            margin: auto;
          }

          .options-tab-content {
            .close-icon {
              font-size: $fs-28;
              margin: 1vh;
              display: block;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .skill-container {
    flex-direction: column;

    .skill-description {
      width: 90%;
      .skill-tabs {
        font-size: $fs-12;
      }
    }

    .skill-option {
      width: 90%;
      .skill-tabs {
        font-size: $fs-12;
      }
      .content {
        .tabcontent {
          padding: 0;
          .skill-chart {
            width: 100%;
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .skill-container {
    .skill-description {
      width: 100%;
      .skill-tabs {
        font-size: $fs-10;
      }
      .content {
        .tabcontent {
          padding: 1.5vh;
          font-size: $fs-18;
        }
      }
    }
    .skill-option {
      .skill-tabs {
        font-size: $fs-10;
      }
      .content {
        .tabcontent {
          .options-tab-content {
            .skill-option-description {
              .link-skill-desc {
                padding: 1vh;
                line-height: 14px;
              }
            }
          }
        }
      }
    }
  }
}
