.timeline-wrapper {
  .swiper-container {
    width: 100%;
    height: 75vh;
    margin: 50px 0;
    overflow: hidden;
    padding: 0 20px 30px 20px;

    .swiper-wrapper {
      .swiper-slide {
        text-align: center;
        font-size: 18px;

        .description {
          border: 1px solid $light-border-color;
          width: 80%;
          height: 55vh;
          margin-left: 10%;
          border-radius: 5px;
          padding: 2vh;

          .header {
            display: flex;
            justify-content: space-between;
            font-size: $fs-20;

            svg {
              font-size: $fs-28;
            }
          }

          .link-desc {
            padding: 6vh;
            line-height: 40px;
            height: 20vh;
            border-bottom: 1px solid $light-border-color-alpha-9;

            a {
              margin-top: 4vh;
              @extend %all-links-extension;
            }
          }

          .location {
            display: flex;
            justify-content: space-around;
            flex-direction: column-reverse;
            align-items: center;
            padding: 2vh;
            padding-top: 8vh;

            svg {
              font-size: $fs-28;
              margin-bottom: 2vh;
            }
          }
        }

        .line {
          height: 10vh;
          width: 1px;
          border: 1px solid $light-border-color;
          position: relative;
          left: 50%;
        }

        .timestamp {
          padding: 10px;
          border-top: 2px solid $light-border-color;

          span {
            font-weight: 600;
            padding-top: 10px;
            position: relative;

            &:before {
              content: '';
              width: 20px;
              height: 20px;
              background-color: $light-border-color-alpha-9;
              border-radius: 25px;
              position: absolute;
              top: -1.2vh;
              left: 45%;
            }
          }
        }
      }
    }
  }

  @media screen and(max-width: 890px) {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .timestamp {
            border-top: none;
          }
        }
      }
    }
  }

  @media screen and(max-width: 600px) {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .description {
            width: 100%;
            margin-left: 1%;
          }
        }
      }
    }
  }

  @media screen and(max-width: 450px) {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          .description {
            .header {
              font-size: $fs-14;
            }

            .location,
            .link-desc {
              font-size: $fs-12;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}
