html,
body {
  overflow: hidden;
  height: 100vh;
}

body {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
}

.app {
  position: relative;
  height: 100vh;
  background-color: var(--main-background);
  color: var(--text-color);

  .mode {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.app.dark {
  --main-background: var(--main-background-dark);
}

@import 'main';
