html,
body {
  overflow: hidden;
  height: 100vh;
}

body {
  background-color: $body-background;
  color: $text-color;
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
}
@import 'nav-bar';
@import 'menu-button';
@import 'main';
// @import 'pwa-install-button';
// @import 'timeline';
// @import 'skill';
@import 'home';
// @import 'contact';
// @import 'certificates';
// @import 'tips';
// @import 'portfolio';
