html,
body {
  overflow: hidden;
  height: 100vh;
}

body {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
  }
}

.app {
  height: 100vh;
  background-color: var(--main-background-dark);
  // color: $text-color;
}

.app.dark {
  --main-background: var(--main-background-dark);
}

@import 'main';
