.mode {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;

  &.light {
    // background: red;

    path {
      fill: rgb(206, 206, 122);
    }
  }
}
