@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@mixin border-animation {
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  animation: borderRotate var(--d) linear infinite forwards;
}

.contact-page {
  --d: 2500ms;
  --angle: 180deg;
  --c1: rgba(168, 239, 255, 1);
  --c2: var(--secondary);
  --border-size: 2px;

  height: 75vh;
  padding: 0 1em;
  display: grid;
  grid-template-areas:
    'headline'
    'form'
    'personal';

  .contact-headline {
    grid-area: headline;
    font-family: 'Courgette', cursive;
    color: var(--secondary);
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  .contact-form-wrapper {
    grid-area: form;
    margin-top: 0.5em;
    margin-bottom: 1em;
    border-bottom: var(--border-size) solid var(--secondary);
    @include border-animation;
  }

  .connect-data {
    grid-area: personal;
    text-align: center;

    h2 {
      display: none;
    }

    .connect-personal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: var(--fs-300);

      > div {
        display: flex;
        flex-direction: column;
      }

      svg {
        font-size: 1.4em;
        color: var(--secondary);
        margin-bottom: 0.15em;
      }
    }

    .connect-social {
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .contact-page {
    grid-template-areas:
      'headline headline'
      'personal form';
    gap: 0;

    .contact-headline {
      h1 {
        border-bottom: var(--border-size) solid var(--secondary);
      }
    }

    .contact-form-wrapper {
      padding: 2em 2em 0;
      border-right: var(--border-size) solid var(--secondary);
      margin-bottom: 0;
    }

    .connect-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top: var(--border-size) solid var(--secondary);
      border-left: var(--border-size) solid var(--secondary);
      border-right: var(--border-size) solid var(--secondary);
      @include border-animation;

      h2 {
        margin-bottom: 1em;
        display: block;
      }

      .connect-personal {
        font-size: var(--fs-400);
      }

      .connect-social {
        margin-top: 2em;
      }
    }
  }
}
@keyframes borderRotate {
  100% {
    --angle: 540deg;
  }
}
