.contact-page {
  height: 75vh;
  padding: 0 1em;
  display: grid;
  grid-template-areas:
    'headline'
    'form'
    'personal';

  .contact-headline {
    grid-area: headline;
    font-family: 'Courgette', cursive;
    color: var(--secondary);
    text-align: center;

    h1 {
      margin: 0;
    }
  }

  .contact-form-wrapper {
    grid-area: form;
    margin-top: 0.5em;
  }

  .connect-data {
    grid-area: personal;
    text-align: center;

    h2 {
      display: none;
    }

    .connect-personal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: var(--fs-300);

      > div {
        display: flex;
        flex-direction: column;
      }

      svg {
        font-size: 1.4em;
        color: var(--secondary);
        margin-bottom: 0.15em;
      }
    }

    .connect-social {
      margin-top: 1em;
      display: flex;
      justify-content: center;
    }
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@media screen and (min-width: 1024px) {
  .contact-page {
    --d: 2500ms;
    --angle: 180deg;
    --c1: rgba(168, 239, 255, 1);
    --c2: var(--secondary);

    grid-template-areas:
      'headline headline'
      'personal form';
    gap: 0;

    .contact-headline {
      h1 {
        border-bottom: 1px solid var(--secondary);
      }
    }

    .contact-form-wrapper {
      padding: 2em 2em 0;
      border-right: 1px solid var(--secondary);
      border-bottom: 1px solid var(--secondary);
      border-image: conic-gradient(
          from var(--angle),
          var(--c2),
          var(--c1) 0.1turn,
          var(--c1) 0.15turn,
          var(--c2) 0.25turn
        )
        30;
      animation: borderRotate var(--d) linear infinite forwards;
    }

    .connect-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-top: 1px solid var(--secondary);
      border-left: 1px solid var(--secondary);
      border-right: 1px solid var(--secondary);
      border-image: conic-gradient(
          from var(--angle),
          var(--c2),
          var(--c1) 0.1turn,
          var(--c1) 0.15turn,
          var(--c2) 0.25turn
        )
        30;
      animation: borderRotate var(--d) linear infinite forwards;

      h2 {
        margin-bottom: 1em;
        display: block;
      }
    }
  }
}
@keyframes borderRotate {
  100% {
    --angle: 540deg;
  }
}
