.contact-page {
  --icon-size: 2em;
  --icon-padding: 1em;

  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1em;
  gap: 4em;
  flex-direction: column;

  .connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    flex-basis: 40%;

    .icon-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      min-height: calc(var(--icon-size) * 6);
      border: 1px solid red;

      h1 {
        font-family: 'Courgette', cursive;
        margin-left: calc(var(--icon-size) * 4.5);
      }

      .icon {
        width: var(--icon-size);
        height: var(--icon-size);
        padding: var(--icon-padding);
        background-color: var(--box-shadow);
        position: absolute;
        clip-path: polygon(
          25% 0%,
          75% 0%,
          100% 50%,
          75% 100%,
          25% 100%,
          0% 50%
        );

        &:nth-of-type(1) {
          top: var(--icon-size);
        }
        &:nth-of-type(2) {
          left: calc(var(--icon-size) + var(--icon-padding));
        }
        &:nth-of-type(3) {
          top: var(--icon-size);
          left: calc(calc(var(--icon-size) + var(--icon-padding)) * 2);
        }
        &:nth-of-type(4) {
          top: calc(calc(var(--icon-size) * 2) + var(--icon-padding) * 2);
          left: calc(calc(var(--icon-size) + var(--icon-padding)) * 2);
        }
        &:nth-of-type(5) {
          top: calc(var(--icon-size) * 4);
          left: calc(var(--icon-size) * 4 + var(--icon-padding));
        }
        &:nth-of-type(6) {
          top: calc(var(--icon-size) * 3);
          left: calc(var(--icon-size) * 6);
        }
        &:nth-of-type(7) {
          top: calc(var(--icon-size) * 4);
          left: calc(var(--icon-size) * 7 + var(--icon-padding));
        }
      }
    }

    .connect-data {
      h3 {
        margin-bottom: 1em;
      }

      .connect-element {
        padding-top: 1em;
        display: flex;
        align-items: center;
        gap: 1em;
      }
    }

    .connect-social {
      margin-top: 2em;
    }
  }

  .contact-form {
    flex-grow: 1;
  }
}

@media screen and (min-width: 750px) {
  .contact-page {
    flex-direction: row;
  }
}
