:root {
  // neutral
  --white: rgba(255, 255, 255, 0.85);
  --none: transparent;
  --box-shadow: rgba(66, 152, 195, 0.3);
  --text-color: #cecece;
  --menu-button: #5f656f;
  --dark-blue: #366194;
  --light-blue: #2187e7;
  --border-color: rgb(33, 135, 231, 0.7);

  // dark
  --main-background-dark: rgba(0, 0, 0, 0.85);
  --main-color-dark: var(--white);
  --nav-link-hover-dark: var(--dark-blue);
  --social-link-box-shadow-dark: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.1),
    -0.1rem -0.1rem 0.25rem rgba(255, 255, 255, 0.5);
  --page-background-dark: #2a2b30;

  // light
  --main-background-light: var(--white);
  --main-color-light: var(--dark-blue);
  --nav-link-hover-light: var(--light-blue);
  --social-link-box-shadow-light: 0.1rem 0.1rem 0.25rem rgba(255, 255, 255, 0.1),
    -0.1rem -0.1rem 0.25rem rgba(0, 0, 0, 0.5);
  --page-background-light: #d0ecfa;

  // default
  --main-background: var(--main-background-light);
  --main-color: var(--main-color-light);
  --nav-link-hover: var(--nav-link-hover-light);
  --social-link-box-shadow: var(--social-link-box-shadow-light);
  --page-background: var(--page-background-light);
  --main-color-revert: var(--main-color-dark);
}
