:root {
  // neutral
  --white: rgba(255, 255, 255, 0.85);
  --none: transparent;
  --box-shadow: rgba(66, 152, 195, 0.3);
  --text-color: #cecece;
  --menu-button: #5f656f;
  --dark-blue: #366194;
  --light-blue: #2187e7;
  // dark
  --main-background-dark: rgba(0, 0, 0, 0.85);
  --nav-link-dark: var(--white);
  --nav-link-hover-dark: var(--dark-blue);
  --page-background: #2a2b30;

  // light
  --main-background-light: var(--white);
  --nav-link-light: var(--dark-blue);
  --nav-link-hover-light: var(--light-blue);

  // default
  --main-background: var(--main-background-light);
  --nav-link: var(--nav-link-light);
  --nav-link-hover: var(--nav-link-hover-light);
}

// $page-background: #2a2b30;
// $body-background: #1d1e21;
// $text-color: #cecece;
$box-shadow: rgba(66, 152, 195, 0.3);
$menu-button: #5f656f;
$nav-link: #366194;
$nav-link-small: #4f4f64;
$nav-link-small-hover: $nav-link;
$font-color-fallback: #2187e7;
$portfolio-background: #283042;
$nav-link-hover: rgb(212, 201, 201);
$light-border-color: rgba(62, 112, 255, 0.2);
$light-border-color-alpha-1: rgba(62, 112, 255, 0.1);
$light-border-color-alpha-3: rgba(62, 112, 255, 0.3);
$light-border-color-alpha-6: rgba(62, 112, 255, 0.6);
$light-border-color-alpha-7: rgba(62, 112, 255, 0.7);
$light-border-color-alpha-9: rgba(62, 112, 255, 0.9);
$bulb-light: yellow;
