%tabs-layout-extension {
  %link-status {
    background-color: $light-border-color-alpha-1;
    color: #cecece;
  }

  .tabs {
    overflow: hidden;
    display: flex;
    justify-content: center;

    a {
      cursor: pointer;
      padding: 0.7em 1.3em;
      border: 1px solid $light-border-color;
      border-right: none;
      border-radius: 10px 10px 0 0;
      font-weight: bold;
      outline: 0;

      &:hover {
        @extend %link-status;
      }

      &:last-child {
        border-right: 1px solid $light-border-color;
      }

      &.active {
        @extend %link-status;
        border-bottom: 2px solid $light-border-color-alpha-6;
      }
    }
  }
}

%all-links-extension {
  cursor: pointer;
  color: $nav-link;
  text-decoration: none;
  outline: 0;

  &:hover {
    color: $nav-link-hover;
  }
}

%tab-content-extension {
  border: 1px solid $light-border-color;
  border-radius: 10px;
  height: 75vh;
  box-shadow: 1px 1px 3px $light-border-color;
}
