.timeline-page {
  .swiper {
    width: 100%;
    height: 75vh;
    margin: 3em 0;
    overflow: hidden;
    padding: 0 1em 1.5em;

    .swiper-slide {
      text-align: center;

      .description {
        border: 2px solid var(--secondary);
        height: 55vh;
        border-radius: 0.5em;
        padding: 1.5em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .header {
          display: flex;
          justify-content: space-between;
          gap: 0.5em;

          span {
            font-family: 'Courgette', cursive;
          }

          svg {
            font-size: 2em;

            path {
              fill: var(--secondary);
            }
          }
        }

        .link {
          padding: 2em 1em;
          border-bottom: 1px solid var(--border-color);

          p {
            margin-bottom: 1em;
          }

          a {
            font-size: var(--fs-600);
          }
        }

        .location {
          display: flex;
          justify-content: space-around;
          flex-direction: column-reverse;
          align-items: center;

          svg {
            font-size: 2em;
            margin-bottom: 2em;

            path {
              fill: var(--secondary);
            }
          }
        }
      }

      .line {
        height: 10vh;
        width: 1px;
        border: 1px solid var(--secondary);
        position: relative;
        left: 50%;
      }

      .timestamp {
        padding: 1em;

        span {
          font-weight: 600;
          padding-top: 1em;
          position: relative;

          &:before {
            content: '';
            width: 20px;
            height: 20px;
            background-color: var(--primary);
            border: 1px solid var(--secondary);
            border-radius: 100%;
            position: absolute;
            top: -10px;
            left: calc(50% - 8px);
          }
        }
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .timeline-page {
    .swiper {
      .swiper-slide {
        .description {
          width: 80%;
          margin-left: 10%;
        }

        .timestamp {
          border-top: 2px solid var(--secondary);
        }
      }
    }
  }
}
