.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5em;
  height: 2.5em;
  text-decoration: none;
  outline: 0;
  margin-left: 0;
  margin-right: 0.75em;
  border-radius: 50%;
  box-shadow: var(--social-link-box-shadow);

  > svg {
    font-size: clamp(1rem, 0.5rem + 1.25vw, 1.5rem);
    scale: 0.9;
    transition: scale 0.3s ease-in-out;

    path {
      fill: var(--secondary);
    }
  }

  &:hover,
  &:focus,
  &:active {
    box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1),
      inset -0.1rem -0.1rem 0.1rem rgba(255, 255, 255, 0.1);

    > svg {
      scale: 1;

      path {
        fill: var(--primary);
      }
    }
  }
}
