.home-page {
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
  font-size: 1rem;

  .description {
    display: flex;
    flex-direction: column;

    .text {
      margin-bottom: 1em;
      line-height: 1.3em;
      animation: animate-text 1s ease-in-out;
    }

    .highlight {
      cursor: pointer;
      color: var(--main-color);
      font-style: italic;
      font-weight: bold;
      text-decoration: none;
      outline: 0;

      &:hover {
        color: var(--nav-link-hover);
      }
    }
  }
}

@media screen and (min-width: 1050px) {
  .home-page {
    font-size: 1.2rem;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    .description {
      flex-basis: 50%;
    }
  }
}

@media (prefers-reduced-motion) {
  .home-page {
    .description {
      .text {
        animation: none;
      }
    }
  }
}

@keyframes animate-text {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
