.skill-description {
  position: relative;

  .header {
    display: flex;
    padding: 0 1em;
    justify-content: space-between;
    font-size: var(--fs-900);
    font-family: 'Courgette', cursive;

    svg {
      font-size: 2em;

      path {
        fill: var(--secondary);
      }
    }
  }

  .content {
    text-align: left;
    line-height: 1.5;
    height: 36vh;
    padding: 1em;
    padding-top: 2em;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
      height: 4px;
      background-color: transparent;
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--secondary);
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: var(--link-hover);
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      background: var(--box-shadow);
    }
  }

  .footer {
    margin-top: 0.5em;
    padding: 1em;
    text-align: center;
    border-top: 2px solid var(--border-color);

    a {
      margin-top: 1em;
      font-size: var(--fs-900);
      line-height: 8vh;
    }
  }
}
