.animated-text {
  font-size: clamp(0.9rem, 0.5rem + 1.25vw, 1.5rem);
  margin-bottom: 1em;
  line-height: 1.3em;
  animation: animate-text 1s ease-in-out;
}

@keyframes animate-text {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion) {
  .animated-text {
    animation: none;
  }
}
