.link {
  font-size: 0.75em;
  letter-spacing: 0.05em;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  outline: 0;

  &.link--social {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    align-items: center;
    justify-content: center;
    margin-left: 0;
    margin-right: 0.75em;
    border-radius: 50%;
    box-shadow: var(--social-link-box-shadow);

    > svg {
      font-size: 1em;
      scale: 0.9;
      transition: scale 0.3s ease-in-out;

      path {
        fill: var(--main-color);
      }
    }

    &:hover {
      box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.1),
        inset -0.1rem -0.1rem 0.1rem rgba(255, 255, 255, 0.1);

      > svg {
        scale: 1.1;

        path {
          fill: var(--nav-link-hover);
        }
      }
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--nav-link-hover);
  }
}

@media screen and (min-width: 40em) {
  .link {
    font-size: 1em;
    letter-spacing: 0.15em;

    &.link--page {
      &.link--faded {
        font-size: 0.8125em;
      }
    }

    &.link--social {
      width: 3.5rem;
      height: 3.5rem;
      margin-left: 0.75em;

      > svg {
        font-size: 2em;
      }
    }
  }
}
