$button-size: 3rem;
$panel-padding: 0.75rem;
$panel-gap: 1rem;

%active-state {
  flex-grow: var(--flex-grow-value);
  filter: brightness(1);

  .accordion-content {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.5s;
    transform: translateY(0px);
  }

  .accordion-trigger {
    opacity: 1;

    &:focus-within {
      outline: 2px solid var(--border-color);
      outline-offset: 2px;
    }
  }
}

.accordion {
  --flex-grow-value: 6;

  display: flex;
  font-size: 1rem;
  height: 80vh;
  width: 100%;
  gap: 0.25em;
  flex-direction: column;
  cursor: pointer;

  .accordion-panel {
    position: relative;
    flex: 1;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: border-box, padding-box;
    border-radius: 1rem;
    filter: brightness(0.5);

    &:focus-within {
      outline: 2px solid var(--orange);
      outline-offset: 2px;
    }

    .accordion-trigger {
      opacity: 0;
      border: 1px solid var(--orange);
      font-size: 1.15em;
      background-color: var(--main-color);
      border-radius: 25%;
      padding: 0.5em;
      margin: 0.2em;
      scale: 0.9;
      transition: opacity 0.7s ease-in-out;
      cursor: pointer;

      svg {
        scale: 0.9;
        transition: scale 0.5s ease-in-out;

        path {
          fill: var(--orange);
        }
      }

      &:hover {
        svg {
          scale: 1;
        }
      }
    }

    .accordion-content {
      position: absolute;
      bottom: 0;
      background-color: var(--orange);
      visibility: hidden;
      opacity: 0;
      transition: 0s;
      width: 100%;
      text-align: center;
      font-size: 0.8em;
      padding: 0;

      h2 {
        color: var(--main-color);
      }
    }

    &:hover {
      @extend %active-state;
    }

    &:has([aria-expanded='true']) {
      @extend %active-state;
    }
  }
}

@media screen and (min-width: 710px) {
  .accordion {
    --flex-grow-value: 15;
    .accordion-panel {
      background-position: center top;
    }
  }
}

@media screen and (min-width: 1024px) {
  .accordion {
    flex-direction: row;

    .accordion-panel {
      background-position: center center;

      .accordion-content {
        transform: translateY(100px);
      }
    }
  }
}
